---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: actions-runner-system
resources:
  - https://github.com/actions/actions-runner-controller/releases/download/v0.25.2/actions-runner-controller.yaml
  - ./runnerdeployments.yaml
  - ./secrets.sops.yaml
