# Python local files
**/venv/
_pycache__/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Mkdocs local files
site/

# Terraform local files
*.tfstate*
**/.terraform
