[submodule "platform-layer/ansible/k3s-ansible"]
	path = platform-layer/ansible/k3s-ansible
	url = https://github.com/bcbrookman/k3s-ansible.git
	branch = k3s-ha-merged
[submodule "infrastructure-layer/homelab-desk"]
	path = infrastructure-layer/homelab-desk
	url = https://github.com/bcbrookman/homelab-desk
