---
extends: default

# Exclude sub-modules, and Flux added files
ignore: |
  **/platform-layer/**/k3s-ansible/
  **/platform-layer/**/duplicati/
  **/flux-system/gotk-*
  **/venv/

rules:
  line-length:
    level: warning
