---
extends: default

# Exclude sub-modules, and Flux added files
ignore: |
  **/platform-layer/**/k3s-ansible/
  **/infrastructure-layer/**/duplicati/
  **/flux-system/gotk-*
  **/venv/

rules:
  line-length:
    max: 100
    allow-non-breakable-inline-mappings: true
    level: warning
