---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: home-assistant
  name: home-assistant
spec:
  ports:
    - name: http
      port: 8123
      targetPort: 8123
  selector:
    app: home-assistant
  type: ClusterIP
